@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

img{
    width: 400px;
    border-radius: 10px 10px 0 0;
}

div{
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin: 100px 540px;
}

body{
    background-image: url('https://images.squarespace-cdn.com/content/v1/55afdfafe4b0ba263877d21b/1534962821392-35LN2PJYLYOKIAEHLGSE/HT-Website-Header-Banner.jpg');
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h2{
    font-weight: 400;
    font-size: 20px;
    margin: 15px;
}

 li{
    color: rgb(61, 61, 61);
    list-style-type: circle;    
 }

 button{
    background-color: red;
    color: white;
    border: solid red;
    height: 30px;
 }
 input{
    height: 30px;
    width: 250px;
    
 }
 table{
    margin-left: 20px;
    margin-top: 50px;
 }
